# ---- (optional) facebook login ----
FB_EMAIL=
FB_PASS=

# ---- API ----
API_HOST=0.0.0.0
API_PORT=8000

# ---- Paths ----
OUTPUT_BASE_DIR=./scraped_outputs
UPLOAD_DIR=./tmp_uploads

# ---- Vector DB (pgvector) ----
DATABASE_URL=postgresql+asyncpg://postgres:2026@127.0.0.1:5436/ragdb

# ---- Ollama ----
OLLAMA_HOST=http://localhost:11434
EMBED_MODEL=nomic-embed-text:latest
EMBED_DIMS=768
OLLAMA_LLM_MODEL=llama3.1:8b

# ---- Image Caption ----
BLIP_MODEL=Salesforce/blip-image-captioning-base

# ---- Argos translate (en->th) ----
ARGOS_SRC_LANG=en
ARGOS_TGT_LANG=th

# ---- Web Search fallback (only when /ask and rag not enough) ----
TAVILY_API_KEY=

# ---- Optional ----
DISABLE_MODEL_SOURCE_CHECK=True

BROWSER_HEADLESS=false
BROWSER_SLOWMO_MS=50


PADDLE_PDX_DISABLE_MODEL_SOURCE_CHECK=true